/* Dropdown Button */
.dropbtn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #F7A541;
  display: block;
  transition: 0.3s;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:bold;
  outline: none;
  background-color: #FEE5AD;
  border: none;}



/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  text-align: center;
  background-color: #FEE5AD;
  min-width: 160px;
  
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #FEE5AD
  ; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #F7A541;
  display: block;
  transition: 0.3s;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:bold;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #A1DBB2;
}
#sideact{color:#F45D4C}
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 5px;
  cursor: pointer;
  background-color: #f1f1f100;
  color: #F45D4C;
  padding: 15px 8px;
  border: none;
  float:left;
  display: block;
  outline:none;
  
  
 
}
.openbtn:hover{background-color: #A1DBB2;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.ham{background-color: #F45D4C;
border:none;
padding:1.5px;}



































body{text-align: center;}

h1{display: inline-block;
}

img{vertical-align:middle;}
.header{font-family: 'Open Sans Condensed', sans-serif;
color: #F45D4C;
background-image: url(background.jpg);}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: #F45D4C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight:bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #A1DBB2;
}
.active{background-color:#FACA66;}

.left{width:70%;
float:left;}
.left img{width:100%;}
p{padding-left: 25px;
padding-right:25px;}
.post h3{font-family: 'Open Sans Condensed', sans-serif;color:#F45D4C;}
.post p{font-family: 'Open Sans', sans-serif;
padding-left:25px;
padding-right:25px;}
.post{border: solid #FACA66 3px}
hr{width:23px;}
.right{width:25%;
float:right;}
.right img{width:100%;}
#about img{width:100px;}
#about h3{font-family: 'Open Sans Condensed', sans-serif;}
#about p{font-family: 'Open Sans', sans-serif;}
.post a{text-decoration:none;
font-family: 'Open Sans', sans-serif;
color:black;
}
.post a:hover{color:#A1DBB2;
text-decoration:underline;}
#rabbit h3{font-family: 'Open Sans Condensed', sans-serif;}
#rabbit p{font-family: 'Open Sans', sans-serif;}
#rabbit img{width:200px;}
.code h3{font-family: 'Open Sans Condensed', sans-serif;}
.code p{font-family: 'Open Sans', sans-serif;}
.code img{width:200px;}
.prolink{text-decoration:none;
border:none;
background-color:#A1DBB2;
color:#F45D4C;
font-weight:bold;
font-family: 'Open Sans Condensed', sans-serif;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
padding-right:10px;
display:inline-block;}
@media (max-width: 600px){.right{float:none;
width:70%;
margin: auto;
}
.left{float:none;
margin:auto;}
.prolink{display: block;
margin:10px;}
body{margin: auto;}
}